#contact {
  transform: translateY(-100px);
}

#contact h2 {
  margin-bottom: 20px;
}

#contact .contact-cont {
  background-color: var(--dark_purple);
  overflow: hidden;
  margin-bottom: -101px;
  
}

#contact .content-pad {
  position: relative;
}

#contact .separator {
	fill: var(--dark_purple);
}

#contact .container {
   max-width: 800px;
   margin: auto;
   height: auto;
   border-radius: 15px;
   width: 100%;
   background-color: var(--puple);
   border: 3px solid var(--dark_purple);
   box-shadow: 1px 12px 37px 0px rgba(0,0,33,0.57);
   padding: 10px;
   margin-bottom: 50px;
   
}

#contact .contact-info {
  display: inline-flex;          
  flex-direction: column;
  align-items: stretch;          
  gap: 15px;
  width: fit-content;   
  position: relative;       
  right: 25%;
  z-index: 15;

}

 #contact .social-link {
  text-decoration: none;
  transition: border-color .5s;
  width: 400px;
  height: 70px;
  line-height: 66px;
  border-radius: 200px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  position: relative;
}


#contact .social-svg-cont {
  margin: 2px;
  height: calc(100% - 4px);
  background-color: var(--yg);
  border-radius: 100px;
  position: absolute;
  width: 20%;
  left: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact .social-svg-cont img {
  fill: var(--dark-yg);
  height: 40px;
  width: 40px;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
}

#contact .social-link p {
  font-family: var(--f-text);
  font-weight: var(--w-button);
  font-size: var(--fs-text);
  color: var(--white);

  height: 100%;
  width: 80%; 
  position: absolute;
  left: 22%;
  text-align: left; 
  padding-left: 15px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

#contact .social-link:hover p {
  left: 100%;
}

#contact .social-link:hover .social-svg-cont{
  width:100%;
}

#contact .arobase-cont {
  position: relative;
  width:100%;
  aspect-ratio: 2 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

#contact .arobase-circle {
  perspective: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  width: 50%; 
  max-width: 800px;
  position: absolute;
}
  
@keyframes rotate-circle {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#contact .arobase-circle svg {
  animation: rotate-circle 10s linear infinite;
}

 #contact #circle-text {
    font-family: "Roboto Mono";
    font-weight: var(--w-button);
    font-size: 6.55px;
    fill: var(--purple);
    transition: fill .5s;
}


@media (max-width: 992px) {

  #contact {
    transform: translateY(-50px);
  }

  #contact .contact-cont {
    margin-bottom: -51px;
  }

  #contact .arobase-circle {
    width: 70%; 
  }
}

@media (max-width: 768px) {
  #contact .arobase-circle {
    width: 80%; 
  }

  #contact .contact-info {
    right: 0%;
  }
}

@media (max-width: 512px) {

  #contact .social-link {
    width:280px;
    height: 60px;
    line-height: 56px;
  }

  #contact .social-svg-cont img {
    height: 30px;
    width: 30px;
  }

}


@media (max-width: 370px) {


  #contact .arobase-circle {
    width: 120%; 
  }
}
