
#footer .footer-cont {
  background-color: var(--black-yg);
  overflow: hidden;
  padding-top: 65px;
  padding-bottom: 0px;
  
}

#footer img {
  width : 20px;
  height: 20px;
  fill: var(--yg);
  
}

#footer .content-pad {
  margin-bottom: 50px;
}

#footer .link-cont {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#footer .license, #footer .github {
  text-decoration: none;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .license {
  margin-right: 10px;
  margin-bottom: 15px;
}

#footer span {
  font-family: var(--f-text);
  font-weight: var(--w-button);
  font-size: var(--fs-text);
  color: var(--yg);
}

#footer .credit {
  color: var(--light-yg);
}

#footer .credit a {
  color: var(--light-yg);
}


@media (max-width: 768px) {
  #footer .link-cont {
    flex-direction: column;
  }
}
