
#footer .footer-cont {
  background-color: var(--yg);
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 50px;
  
}

#footer img {
  width : 20px;
  height: 20px;
  fill: var(--dark-yg);
  
}

#footer .content-pad {
  margin-bottom: 50px;
}

#footer .link-cont {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  
}

#footer .license, #footer .github {
  text-decoration: none;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer .license {
  margin-right: 10px;
  margin-bottom: 15px;
}

#footer span {
  font-family: var(--f-text);
  font-weight: var(--w-button);
  font-size: var(--fs-text);
  color: var(--dark-yg);
}

#footer .software-list-cont {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 10%, black 90%, transparent 100%);
}

#footer .software-list {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: self-end;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

#footer .software-list span {
  font-family: "Roboto Mono";
  color: var(--yg);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--dark-yg);
  font-size: 140px;
}

#footer .software-list-scroll {
  display: flex;
  animation: scrollText 15s infinite linear;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  #footer .link-cont {
    flex-direction: column;
  }
}
