#header {
    margin: 15px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1010;
}

#header .navbar {
    display: inline-flex;
    white-space: nowrap;
}

#header .navbar ul {
    display: flex;
    list-style: none;
    border-radius: 100px;
    align-items: center;
    padding: 5px;
    column-gap: 20px;
    position:relative;
}

#header .navbar a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px;
    display: flex;
    font-family: var(--f-text);
    font-size: var(--fs-nav);
    font-weight: var(--w-button);
    color: var(--white);
    text-decoration: none;
    align-items: center;
    transition: background-color .2s;
}

#header .navbar a:hover {
    background-color:  #f2f2f21a;
}

#header .selector {
    position: absolute;
    border-radius: 100px;
    height: calc(100% - 11px);
    left:0rem;
    width: 0px;
    display: flex;
    z-index: -1;
}

#header .nav-svg {
    margin-right: 7px;
    border-radius: 100px;
    width: clamp(20px, 6vw, 27px);
    height: clamp(20px, 6vw, 27px);
}

#header .nav-svg svg {
    width: 100%;
    height: 100%;
}

#header .active-nav-svg {
    background-color: var(--dark-yg);
}

#header .active-nav-svg .poly-svg-nav-light {
    fill : var(--yg);
}

#header .active-nav-svg .poly-svg-nav-base {
    fill : #719e00;;
}

#header .poly-svg-nav-light {
    fill : var(--white);
}

#header .poly-svg-nav-base {
    fill :  var(--transp_white);
}

#header .contact {
    position: fixed;
    right: 15px;
    text-decoration: none;
    border-radius: 100px;
    height: 47px;
    width: 150px;
    line-height: 47px;
}

#header .contact span {
    font-size: var(--fs-nav);
}


@media (max-width: 992px) {

    #header .contact{
        width: auto;
    }

    #header .icon-cont {
        width: calc(100% - 4px);
        aspect-ratio: 1/1;
        position: relative;
    }

    #header .contact span {
        display: none;
    }
}

@media (max-width: 768px) {

    #header .navbar ul {
        column-gap: 0px;
    }

    #header .navbar a {
        padding-left: 10px;
        padding-right: 10px;
    }

    #header .nav-svg {
        margin-right: 3px;
    }
}

@media (max-width: 576px) {

    #header {
        text-align: left;
    }

    #header .contact  {
        height: calc(var(--fs-nav) + 30px);
    }

    #header .navbar a {
        padding: 7px;
    }

    #header .nav-svg {
        margin-right: 0px;
        display: none;
    }
}