#home {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: var(--black-yg);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#home h1 {
    font-family: var(--f-title);
    font-variation-settings: "wdth" 150;
    color: var(--white);
    position: relative;
    z-index: 15;
    font-weight: var(--w-title);
    font-size: var(--fs-title);
    margin-bottom:5px;
    line-height: 1.2;
}

#home h2 {
    font-family: var(--f-title);
    font-style: italic;
    font-variation-settings: "wdth" 150;
    color: var(--yg);
    position: relative;
    z-index: 15;
    font-weight: var(--w-title);
    font-size: var(--fs-title);
    margin-bottom:10px;
    line-height: 1.2;
}

#home p {
    font-family: var(--f-text);
    color: var(--light_grey);
    position: relative;
    display: inline-block;
    max-width: 550px;
    z-index: 15;
    font-weight: var(--w-text);
    font-size: var(--fs-text);
    margin-top:15px;
    margin-bottom:40px;
}

#home p a {
    color:var(--yg);
}

#home .buttons-container {
    flex-wrap: wrap;
    display: flex;
    gap:20px 30px    ;
}

#home #epicycloid {
    top: 0;
    left: 20%;
    mask-image: linear-gradient(90deg, transparent 0%, black 15%);
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, black 15%);
    mix-blend-mode: screen;
    opacity: .75;
    position: absolute;
}

#home .title-cont {
    display: flex;
    height: 100%;
    justify-content: center;
    
}

#home .noise {
    opacity: 0.2;
    mix-blend-mode: overlay;
    background-image: url(../ressources/img/noise.gif);

    background-position: 0 0;
    background-size: 480px;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


#home .loc-cont  {
    z-index: 15;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 7px 20px;
    margin-bottom: 20px;
    background-color: var(--yg);
    box-shadow: 0 0 0 0px var(--yg);
    transition: all ease .4s;
}


#home .loc-cont .svg-cont {
    width:17px;
    height: 17px;
    
}

#home .loc-cont .svg-cont svg {
    fill: var(--black-yg)
}

#home .loc-cont a {
    font-family: var(--f-text);
    text-decoration: none;
    color: var(--black-yg);
    font-weight: var(--w-title);
    font-size: clamp(13px, 3vw, 16px);
    
}

#home .loc-cont:hover {
    box-shadow: 0 0 0 2px var(--yg);
}


@media (max-width: 768px) {
    #home #epicycloid {
        mask-image: none;
        -webkit-mask-image: none;
        left: 0;
        opacity: .35;
    }
}

@media (max-width: 550px) {
    #home .buttons-container {
        flex-wrap: wrap;
        display: flex;
        gap:20px 10px    ;
    }
}