#skills {
  transform: translateY(-100px);
}

#skills .separator {
   fill: var(--black-yg);
}

#skills p {
  color: var(--light_grey);
  font-family: var(--f-text);
  font-size: var(--fs-text);

}

.skill-cont {
  background-color: var(--black-yg);
  overflow: auto;
  margin-bottom: -101px;
}

 
#skills .content-pad {
  margin-bottom: 200px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 40px;
    perspective: 800px;
    padding: 20px;
    border-radius: 15px;
    border: 2px dashed var(--glass_edge);
    padding: 20px;
}




.skill-pill {
    display: flex;
    align-items: center;
    background: var(--dark_glass_bg);
    border-radius: 8px;
    padding: 16px;
    border: 2px solid var(--glass_edge);

    font-family: var(--f-text);
    font-size: var(--fs-text);
    transition: all 0.3s ease;
    position: relative;
    transform-style: preserve-3d;
}

.skill-pill:hover {
    border-color: var(--yg);
    transform: rotate3d(1, 0, 0, 30deg);
}

.skill-pill::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark_glass_bg);
    border: 2px solid var(--glass_edge);
    border-radius: 8px;
    transform: translateZ(0px);
    opacity: 0;
    transition: all 0.3s ease;
}
.skill-pill:hover::before {
    opacity: 1;
    transform: translateZ(-25px);
}





.skill-icon {
    margin-right: 16px;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
}

.skill-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.skill-content {
    flex: 1;
}

.skill-title {
    margin: 0;
    font-weight: var(--w-button);
    color: var(--white);
    font-size: var(--fs-text);
}

.skill-description {
    margin: 0;
      font-weight: var(--w-text);
    color: var(--light_grey);
    line-height: 1.4;
}

/* Responsive design */
@media (max-width: 1024px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 480px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}

